.git/
.github/
.DS_Store
._*
.env
.env.*
!.env.example
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.test/
.venv/
__pycache__/
*.egg-info/
*.key
*.pem
secrets/
build/
dist/
htmlcov/
out/
docker-compose.override.yml
